body {
  font-family: 'Raleway'; }

.footer-container {
  background-color: #FFF191;
  font-family: 'Raleway'; }
  .footer-container .higher_footer {
    padding: 50px 150px; }
    .footer-container .higher_footer a {
      color: black;
      font-weight: 600; }
  .footer-container .lower_footer {
    background-color: black;
    color: white; }
    .footer-container .lower_footer p {
      margin: 0;
      text-align: center;
      font-size: 11px;
      width: 100%;
      padding: 25px 0; }

.homepage-head {
  font-family: 'Raleway'; }
  .homepage-head .header-square {
    text-align: center;
    padding: 0 25px; }
  .homepage-head .book-outline img {
    max-width: 300px;
    display: block;
    margin: 0 auto; }
  .homepage-head .library-link {
    background-color: #FFF191;
    padding: 15px 0;
    font-size: 28px;
    text-align: center;
    margin: 50px 0; }
    .homepage-head .library-link span a {
      color: black;
      font-weight: bold; }
  .homepage-head form {
    padding: 0 50px; }
    .homepage-head form .form-group {
      margin-bottom: 15px;
      width: 100%; }
      .homepage-head form .form-group p {
        margin: 0; }
      .homepage-head form .form-group input,
      .homepage-head form .form-group select {
        border: none;
        width: 100%;
        padding: 5px 10px; }
      .homepage-head form .form-group button {
        border: none;
        background-color: #5f9aea;
        padding: 5px 20px; }

.navbar {
  background-color: #FFF191;
  font-family: 'Raleway', sans-serif; }
  .navbar #user-id {
    color: #000000; }
  .navbar .navbar-nav {
    text-align: center; }
    .navbar .navbar-nav .nav-link {
      font-size: 35px;
      letter-spacing: 5px; }
    .navbar .navbar-nav .dropdown-menu {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      text-align: center;
      font-size: 14px; }
    .navbar .navbar-nav .login-row form {
      display: block;
      margin: 20px auto 5px auto; }
      .navbar .navbar-nav .login-row form p {
        margin: 0;
        letter-spacing: 1px;
        text-align: left; }
      .navbar .navbar-nav .login-row form input {
        border: none;
        padding: 5px;
        letter-spacing: 3px;
        text-align: center;
        margin-bottom: 2px; }
      .navbar .navbar-nav .login-row form button {
        border: none;
        margin: 10px;
        background-color: #60a6f0;
        color: white;
        letter-spacing: 1px; }

@media only screen and (min-width: 992px) {
  .navbar #user-id {
    color: #000000; }
  .navbar .navbar-brand {
    font-size: 30px; }
  .navbar .navbar-nav {
    text-align: center; }
    .navbar .navbar-nav .nav-link {
      font-size: 15px;
      letter-spacing: 5px; }
    .navbar .navbar-nav .dropdown-menu {
      background: #FFF191;
      border: none;
      padding: 0;
      margin: 0;
      text-align: center;
      font-size: 14px; }
    .navbar .navbar-nav .login-row {
      font-size: 11px;
      margin: 0 10px 0 50px; }
      .navbar .navbar-nav .login-row p {
        margin: 0;
        letter-spacing: 1px;
        text-align: center;
        padding: 3px; }
      .navbar .navbar-nav .login-row input {
        width: 115px;
        border: none;
        padding: 3px;
        letter-spacing: 3px;
        text-align: center;
        margin-bottom: 2px; }
      .navbar .navbar-nav .login-row button {
        margin: 18px 0 0 0;
        padding: 2px 10px;
        border: none;
        background-color: #60a6f0;
        color: white;
        letter-spacing: 1px; } }
.library-container {
  background-color: #FFF191;
  font-family: 'Raleway', sans-serif;
  height: auto; }
  .library-container h1 {
    text-align: left;
    letter-spacing: 2px;
    font-size: 28px; }
  .library-container .title-row h1 {
    margin: 100px 0 0 0;
    position: absolute;
    left: 0;
    letter-spacing: 5px;
    background-color: white;
    padding: 5px; }
  .library-container .book-search-row .search-bar {
    margin-top: 175px; }
    .library-container .book-search-row .search-bar label {
      font-size: 21px;
      color: white;
      text-align: center;
      display: block;
      letter-spacing: 3px; }
    .library-container .book-search-row .search-bar input,
    .library-container .book-search-row .search-bar button {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px; }
    .library-container .book-search-row .search-bar input {
      border: none;
      background-color: white;
      width: 85%; }
    .library-container .book-search-row .search-bar button {
      border: none;
      background-color: #166fc9;
      color: white; }
  .library-container #create-book-p {
    margin-top: 25px;
    text-align: center;
    color: #53be69; }
    .library-container #create-book-p a {
      background-color: #53be69;
      padding: 3px;
      color: white; }
  .library-container .books-row {
    background-color: white;
    margin-top: 15px;
    padding: 20px 10px; }
    .library-container .books-row span {
      margin: 0;
      color: gray;
      letter-spacing: 2px; }
    .library-container .books-row #review-btn {
      border: none;
      padding: 10px;
      margin: auto;
      display: block;
      background-color: #166fc9;
      color: white;
      font-size: 13px; }
    .library-container .books-row #book-collection-btn {
      border: none;
      padding: 10px;
      margin: auto;
      display: block;
      background-color: #53be69;
      color: white;
      font-size: 13px; }

@media (min-width: 992px) {
  .library-container {
    background-color: #FFF191;
    font-family: 'Raleway', sans-serif;
    height: auto; }
    .library-container .book-search-row .search-bar {
      margin-top: 175px; }
      .library-container .book-search-row .search-bar label {
        font-size: 21px;
        color: white;
        text-align: center;
        display: block;
        letter-spacing: 3px; }
      .library-container .book-search-row .search-bar input,
      .library-container .book-search-row .search-bar button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px; }
      .library-container .book-search-row .search-bar input {
        border: none;
        background-color: white;
        width: 50%; }
      .library-container .book-search-row .search-bar button {
        border: none;
        background-color: #166fc9;
        color: white; }
    .library-container #create-book-p {
      margin-top: 25px;
      text-align: center;
      color: #53be69; }
      .library-container #create-book-p a {
        background-color: #53be69;
        padding: 3px;
        color: white; }
    .library-container .books-row {
      background-color: white;
      margin-top: 15px;
      padding: 20px 10px; }
      .library-container .books-row span {
        margin: 0;
        color: gray;
        letter-spacing: 2px; }
      .library-container .books-row #review-btn {
        border: none;
        padding: 10px;
        margin: auto;
        display: block;
        background-color: #166fc9;
        color: white;
        font-size: 13px; }
      .library-container .books-row #book-collection-btn {
        border: none;
        padding: 10px;
        margin: auto;
        display: block;
        background-color: #53be69;
        color: white;
        font-size: 13px; }
      .library-container .books-row #flashed_book {
        font-size: 10px; } }
.insert-book-container {
  height: auto;
  width: 100%;
  padding-top: 25px;
  background-color: #FFF191;
  font-family: 'Raleway', sans-serif; }
  .insert-book-container .title-row {
    margin-top: 50px; }
    .insert-book-container .title-row h1 {
      position: absolute;
      left: 0;
      letter-spacing: 5px;
      background-color: white;
      padding: 5px;
      font-size: 28px;
      width: 250px; }
  .insert-book-container .insert-book-form {
    padding: 133px 0;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .insert-book-container .insert-book-form input, .insert-book-container .insert-book-form select {
      border: none;
      padding: 5px; }
    .insert-book-container .insert-book-form #authors, .insert-book-container .insert-book-form #book_title {
      width: 100%; }
    .insert-book-container .insert-book-form #book_pages {
      width: 40px; }
    .insert-book-container .insert-book-form button {
      background-color: #53be69;
      color: white;
      padding: 10px;
      letter-spacing: 1px;
      display: block;
      margin: 25px auto; }

.leave-review-container {
  height: 350px;
  width: 100%;
  padding-top: 25px;
  background-color: #FFF191;
  font-family: 'Raleway', sans-serif; }
  .leave-review-container h1 {
    text-align: left;
    letter-spacing: 2px;
    font-size: 28px; }
  .leave-review-container .title-row {
    margin-top: 50px; }
    .leave-review-container .title-row h1 {
      position: absolute;
      left: 0;
      letter-spacing: 5px;
      background-color: white;
      padding: 5px; }
    .leave-review-container .title-row .search-bar {
      margin-top: 100px; }
      .leave-review-container .title-row .search-bar label {
        font-size: 21px;
        color: white;
        text-align: center;
        display: block;
        letter-spacing: 6px; }
      .leave-review-container .title-row .search-bar input,
      .leave-review-container .title-row .search-bar button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px; }
      .leave-review-container .title-row .search-bar input {
        border: none;
        background-color: white;
        width: 85%; }
      .leave-review-container .title-row .search-bar button {
        border: none;
        background-color: #53be69;
        color: white; }
  .leave-review-container .insert-book-form {
    margin-top: 75px;
    padding: 15px; }
    .leave-review-container .insert-book-form label {
      font-size: 32px;
      letter-spacing: 1px;
      background: white;
      padding: 10px;
      text-align: center;
      width: 100%; }
      .leave-review-container .insert-book-form label span {
        color: grey;
        background: white;
        padding: 5px;
        font-size: 21.5px; }
        .leave-review-container .insert-book-form label span i {
          color: #b7e4ef; }
    .leave-review-container .insert-book-form textarea {
      width: 100%;
      border: solid 4px #fff191;
      height: 300px; }
    .leave-review-container .insert-book-form button {
      border: none;
      padding: 10px;
      margin: auto;
      display: block;
      background-color: #B7E4EF;
      color: white; }
    .leave-review-container .insert-book-form textarea:focus {
      border: solid 2px #B7E4EF; }

.leave-review-container + footer {
  position: fixed;
  bottom: 0;
  width: 100%; }

.user-profile-container {
  margin: 100px 0 0 0;
  font-family: 'Raleway'; }
  .user-profile-container h1 {
    font-size: 30px; }
  .user-profile-container #fav_genre_span, .user-profile-container select {
    font-size: 14px; }
  .user-profile-container select {
    border: none;
    color: #166fc9; }
  .user-profile-container #update_profile_btn {
    background-color: #166fc9;
    border-radius: 0;
    border: none;
    color: white; }

.register_container {
  margin-top: 100px;
  font-family: 'Raleway' sans-serif; }
  .register_container input {
    border: solid 1px #fff191;
    padding: 5px;
    width: 100%;
    background-color: white; }
  .register_container select {
    border: solid 1px #fff191;
    width: 100%;
    padding: 5px; }
  .register_container label {
    letter-spacing: 2px; }
    .register_container label i {
      color: #fff191; }
  .register_container button {
    border: none;
    padding: 10px;
    background-color: #166fc9;
    color: white;
    width: 100%;
    border-radius: 0px; }

/*# sourceMappingURL=main.css.map */
