<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- LINKS START -->
    <link rel="stylesheet" href="../static/css/main.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap-cdn/css/bootstrap.css') }}" type="text/css" />
    <!-- LINKS END -->
    <title>The Book Stop</title>
</head>
<body>
    <!-- NAVBAR START -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">THE BOOK STOP </a> {% if session %}
        <a id='user-id' href="{{ url_for('user', user_id = session.username) }}"> <i class="fas fa-user"></i></a> {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('library') }}">LIBRARY</a>
                </li>
                {% if session %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ url_for('user', user_id = session.username) }}" role="button" aria-haspopup="true" aria-expanded="false">PROFILE</a>
                    <div class="dropdown-menu">
                        <a class='nav-link' href="{{ url_for('user', user_id = session.username) }}"> EDIT </a>
                        <a class='nav-link' href="{{ url_for('end_session', user_id = session.username) }}"> LOG OUT </a>
                    </div>
                </li>
                {% endif %} {% if not session %}
                <form class='login-row form' action="{{ url_for('login') }}" method="POST">
                    <div class="col-sm-12 col-md-5 col-lg-4">
                        <p> USERNAME </p>
                        <input type="text" name="username" />
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-4">
                        <p> PASSWORD </p>
                        <input type="password" name="password" />
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-2">
                        <button> Login </button>
                    </div>
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <p id='flashed_book'>{{ message }}</p>
                    {% endfor %} {% endif %} {% endwith %}
                </form>
                <div class='signup-div'>
                    <span>don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.</span>
                </div>
                {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    <!-- NAVBAR END -->
    {% block content %} {% endblock %}
    <!-- FOOTER START -->
    <footer class='container-fluid footer-container'>
        <div class="row higher_footer">
            <nav class="nav nav-pills nav-fill">
                <a class="nav-item nav-link" href="{{ url_for('index') }}"> HOME </a>
                <a class="nav-item nav-link" href="{{ url_for('library') }}"> LIBRARY </a> {% if session %}
                <a class="nav-item nav-link" id='user-id' href="{{ url_for('user', user_id = session.username) }}"> PROFILE </a> {% endif %}
            </nav>
        </div>
        <div class="row lower_footer">
            {% if not session %}
            <p> Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>. </p>
            {% endif %}
            <p> built by: ewanlockwood </p>
        </div>
    </footer>
    <!-- FOOTER END -->
    <!-- SCRIPTS START -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <!-- SCRIPTS END -->
</body>
</html>
