{% extends 'base.html' %} {% block content %}
<!-- CONTAINER START -->
<div class="container-fluid homepage-head">
    <!-- BOOK OUTLINE 1 START -->
    <div class="row book-outline">
        <div class="col-12">
            <img class='book-img' src="../static/assets/img/AdobeStock_185437803.jpg"></img>
        </div>
    </div>
    <!-- BOOK OUTLINE 1 START -->
    <!-- HEADER SQUARE ROW START -->
    <div class="row header-square">
        <p> … <br> A place where you can explore books that people with similar interests as you recommend.</p>
    </div>
    <!-- HEADER SQUARE ROW END -->
    <!-- LIBRARY LINK START -->
    <div class="row library-link">
        <div class="col-12">
            <p> Visit the <span><a href="{{url_for('library')}}">Library</a></span></p>
        </div>
    </div>
    <!-- LIBRARY LINK END -->
    {% if not session %}
    <!-- SIGN UP HEADER START -->
    <div class="row sign-up-header-row">
        <div class="col-12">
            <h1> SIGN UP </h1>
            <p> TO ADD BOOKS TO YOUR COLLECTION</p>
        </div>
    </div>
    <!-- SIGN UP HEADER END -->
    <!-- SIGN UP START -->
    <form class="row sign-up-row" action="{{ url_for('register') }}" method="POST">
        <div class="form-group">
            <p> USERNAME </p>
            <input type="text" name="username" />
        </div>
        <div class="form-group">
            <p> PASSWORD </p>
            <input type="password" name="password" />
        </div>
        <div class="form-group">
            <label for='genre'> FAVOURITE GENRE </label>
            <select id="genre" name="genre">
                <option value="" disabled selected> Choose one </option>
                {% for genre in genres %}
                <option value="{{genre.genre}}">{{ genre.genre }}</option>
                {% endfor %}
            </select>
        </div>
         {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <p id='flashed_book'>{{ message }}</p>
        {% endfor %} {% endif %} {% endwith %}
        <div class="form-group">
            <button>
                SIGN UP
            </button>
        </div>
    </form>
    <!-- SIGN UP END -->
    {% endif %}
</div>
<!-- CONTAINER END -->
{% endblock %}
