{% extends 'base.html' %} {% block content %}
<!-- CONTAINER START -->
<div class="container-fluid insert-book-container">
    <!-- PAGE TITLE START -->
    <div class="row title-row">
        <div class="col-6">
            <h1> INSERT BOOK </h1>
        </div>
    </div>
    <!-- PAGE TITLE END -->

    <!-- INSERT BOOK FORM START -->
    <form action="{{ url_for('submit_book') }}" method="POST" class="insert-book-form">
        <!-- BOOK TITLE START -->
        <div class="form-group">
            <label for="book_title"> <span> <i class="fas fa-book"></i> </span> Book Title</label>
            <input id="book_title" name="title" type="text">
        </div>
        <!-- BOOK TITLE END -->

        <!-- BOOK AUTHOR START -->
        <div class="form-group">
            <label for="book_author"><span> <i class="fas fa-user-edit"></i> </span> Author </label>
            <input name="author_name" id="authors"></input>
        </div>
        <!-- BOOK AUTHOR END -->

        <!-- BOOK GENRE START -->
        <div class="form-group">
            <label for='genre'> <span> <i class="fas fa-folder-open"></i> </span></label>
            <select id="genre" name="genre">
              <option value="" disabled selected>Genre</option>
              {% for genre in genres %}
                  <option value="{{genre.genre}}">{{ genre.genre }}</option>
              {% endfor %}
            </select>
        </div>
        <!-- BOOK GENRE END -->

        <!-- BOOK PAGES START -->
        <div class="form-group">
            <label for="book_pages"> <span> <i class="fas fa-book-open"></i> </span>Pages</label>
            <input id="book_pages" name="pages" type="number">
        </div>
        <!-- BOOK PAGES END -->
        <!-- ISBN NUM START -->
        <div class="form-group">
            <label for="isbn_num"> <span> <i class="fas fa-book-open"></i> </span>ISBN</label>
            <input id="isbn_num" name="isbn_num" type="text">
        </div>
        <!-- ISBN NUM END -->

        <!-- INSERT BOOK BUTTON START -->
        <button type='submit' class='btn'> Insert Book </button>
        <!-- INSERT BOOK BUTTON END -->
    </form>
    <!-- INSERT BOOK FORM END -->
</div>
<!-- CONTAINER END -->
{% endblock %}
