{% extends 'base.html' %} {% block content %}
<!-- CONTAINER START -->
<div class="container-fluid leave-review-container">
    <!-- PAGE TITLE START -->
    <div class="row title-row">
        <div class="col-6">
            <h1> REVIEW </h1>
        </div>
    </div>
    <!-- PAGE TITLE END -->
    <!-- FORM START -->
    <form action="{{ url_for('leave_review', book_id=book._id) }}" method="POST" class="insert-book-form row">
        <!-- REVIEW TEXTAREA START -->
        <div class="form-group col-12">
            <label for="review"  id="review" name="review"> <span> Review for  </span> <br> {{ book.title }} </label>
            <textarea name='reviews' value='{{request.form.review}}'> </textarea>
        </div>
        <!-- REVIEW TEXTAREA END -->
        <!-- SUMBIT BUTTON START -->
        <button type='submit' name='action' class='btn'> SUBMIT REVIEW </button>
        <!-- SUMBIT BUTTON END -->
    </form>
    <!-- FORM END -->
</div>
<!-- CONTAINER END -->
{% endblock %}