{% extends 'base.html' %} {% block content %}

<!-- DISPLAY EACH BOOK MATCHING SEARCH START -->
{% for book in search %}
    <div class="row books-row">
        <div class="col-12">
            <span> TITLE </span>
            <h1> {{book.title}} </h1>
        </div>
        <div class="col-12">
            <span> AUTHOR </span>
            <p> {{ book.author }} </p>
        </div>
        <div class="col-12">
            <span> GENRE </span>
            <p> {{ book.genre }} </p>
        </div>
        <div class="col-4">
            <span> PAGES </span>
            <p> {{ book.pages }} </p>
        </div>
        <div class="col-4">
            <span> LIKES </span>
            <p> {{ book.likes }} </p>
        </div>
        <div class="col-4">
            <span> DISLIKES </span>
            <p> {{ book.dislikes }} </p>
        </div>
        <div class="col-12">
            <span> REVIEWS </span> {% for review in book.reviews %}
            <p> {{review}} </p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
<!-- DISPLAY EACH BOOK MATCHING SEARCH END -->

{% endblock %}