{% extends "base.html" %} {% block content %}
<!-- CONTAINER START -->
<div class="container-fluid register-container">
    <!-- FORM ROW START -->
    <div class="row">
        <div class="col-12">
            <form action="{{ url_for('register') }}" method="POST" class="insert-book-form">
                <!-- USERNAME FORM GROUP START -->
                <div class="form-group">
                    <label for="username"><span> <i class="fas fa-user-edit"></i> </span> Username : </label>
                    <input name="username" id="username"></input>
                </div>
                <!-- USERNAME FORM GROUP END -->
                <!-- PASSWORD FROM GROUP START -->
                <div class="form-group">
                    <label for="password"> <span> <i class="fas fa-key"></i> </span> Password : </label>
                    <input type="password" id="password" name="password"> </input>
                </div>
                <!-- PASSWORD FORM GROUP END -->
                <!-- FAVOURITE GENRE FORM ROUP START -->
                <div class="form-group">
                    <label for='genre'> <span> <i class="fas fa-folder-open"></i></span> Favourite Genre </label>
                    <select id="genre" name="genre">
                        <option value="" disabled selected> Choose one </option>
                        {% for genre in genres %}
                        <option value="{{genre.genre}}">{{ genre.genre }}</option>
                        {% endfor %}
                    </select> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <p id='flashed_book'>{{ message }}</p>
                    {% endfor %} {% endif %} {% endwith %}
                </div>
                <!-- FAVOURITE GENRE FORM GROUP END -->
                <!-- SUBMIT BUTTON START -->
                <button type='submit' class='btn'> Create user </button>
                <!-- SUBMIT BUTTON END -->
            </form>
        </div>
    </div>
    <!-- FORM ROW END -->
</div>
<!-- CONTAINER END -->
{% endblock %}
