.insert-book-container {
    height: auto;
    width: 100%;
    padding-top: 25px;
    background-color: #FFF191;
    font-family: 'Raleway', sans-serif;
    margin-top: 200px;

    .title-row {
        margin-top: 50px;

        h1 {
            position: absolute;
            left: 0;
            letter-spacing: 5px;
            background-color: white;
            padding: 5px;
            font-size: 28px;
            width: 250px;
        }
    }
    .insert-book-form {
        padding: 133px 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        
        input, select{
            border: none;
            padding: 5px;
            
        }
        #authors, #book_title{
            width: 100%;
        }
        #book_pages{
            width: 40px;
        }
        button {
            background-color: #53be69;
            color: white;
            padding: 10px;
            letter-spacing: 1px;
            display: block;
            margin: 25px auto;
        }
    }
}
