.searched-books-container {
    background-color: #FFF191;
    font-family: 'Raleway', sans-serif;
    height: auto;
    margin: 100px 0 0 0;

    h1 {
        text-align: left;
        letter-spacing: 2px;
        font-size: 28px;
    }
    .title-row {
        h1 {
            margin: 100px 0 0 0;
            position: absolute;
            left: 0;
            letter-spacing: 5px;
            background-color: white;
            padding: 5px;

        }
    }
    .book-search-row {
        .search-bar {
            margin-top: 175px;

            label {
                font-size: 21px;
                color: white;
                text-align: center;
                display: block;
                letter-spacing: 3px;
            }
            select {
                border: none;
                width: 85%;
            }
            input,
            button,
            select {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5px;
            }
            input {
                border: none;
                background-color: white;
                width: 85%;
            }
            button {
                border: none;
                background-color: #166fc9;
                color: white;

            }
        }
    }
    #create-book-p {
        margin-top: 25px;
        text-align: center;
        color: #53be69;

        a {
            background-color: #53be69;
            padding: 3px;
            color: white;
        }
    }
    .books-row {
        background-color: white;
        margin-top: 15px;
        padding: 20px 10px;
        .title-div {
            text-align: center;
            h1 {
                text-align: center;
            }
        }
        .img-div {
            text-align: center;
            padding: 25px 0;
        }
        .author-div {
            text-align: center;
        }
        .genre-div {
            text-align: center;
        }
        span {
            margin: 0;
            color: gray;
            letter-spacing: 2px;
        }
        #review-btn {
            border: none;
            padding: 10px;
            margin: 10px 0 10px 0;
            display: block;
            text-align: center;
            background-color: #166fc9;
            color: white;
            font-size: 13px;


        }
        #book-collection-btn {
            border: none;
            padding: 10px;
            margin: 10px 0 10px 0;
            display: block;
            text-align: center;
            background-color: #53be69;
            color: white;
            font-size: 13px;

        }
    }

}

@media only screen and (min-width: 992px) {
    .searched-books-container {
        margin-top: 117px;
        .book-search-row {
            .search-bar {
                select {
                    width: 50%;
                }
                input {
                    border: none;
                    background-color: white;
                    width: 50%;
                }
            }
        }
        .books-row {

            span {
                margin: 0;
                color: gray;
                letter-spacing: 2px;
            }
            #review-btn {
                padding: 10px;
                margin: auto;
            }
            #book-collection-btn {
                padding: 10px;
                margin: auto;

            }
            #flashed_book {
                font-size: 10px;
            }
        }
    }
}

@media only screen and (min-width: 1023px) {
    .searched-books-container {
        .book-search-row {
            .search-row {
                select {
                    width: 30%;
                }
                input {
                    width: 30%;
                }
            }
        }
        .books-row {
            width: 80%;
            margin: auto;
        }
    }
}
