.library-container {
    height: auto;
    width: 100%;
    padding-top: 25px;
    background-color: #FFF191;
     
    h1 {
            text-align: left;
            font-family: 'Raleway', sans-serif;
            letter-spacing: 2px;
            font-size: 28px;
        }  

    .title-row{
        
        h1 {
            letter-spacing: 5px;
            background-color: white;
            width: 100%;
            padding: 5px;
        }
        
    }
    .books-row {
        background-color: white;
        margin-top: 15px;
        padding: 10px;
        
        span {
            margin: 0;
            color: gray;
            letter-spacing: 2px;
        }
    }
}