body {
    font-family: 'Raleway';
}

.footer-container {
    background-color: #FFF191;
    padding: 200px;

    ul {
        list-style: none;
        width: 100%;
        padding: 0;
    }
    
    li {
        text-align: center;
    }
    
    p{
        font-size: 11px;
    }
}

@import 'home.scss';
@import 'navbar.scss';
@import 'library.scss';
@import 'insert_book.scss';
@import 'review.scss';
@import 'user.scss';
@import 'register.scss'
