body {
    font-family: 'Raleway';
}
footer {
    
        p {
            text-align: center;
            letter-spacing: 1px;
            font-size: 11px;
            margin: 5px;
        }
    }

@import 'home.scss';
@import 'navbar.scss';
@import 'library.scss';
@import 'insert_book.scss';
@import 'review.scss';
@import 'user.scss';
@import 'register.scss'