body {
    font-family: 'Raleway';
}
.footer-container {
    background-color: #FFF191;
    margin: 0;
    padding: 100px 100px;
        
        ul {
            width: 100%;
            text-align: center;
        }
        ul li {
            letter-spacing: 1px;
            font-size: 21px;
            list-style: none;
            display: inline-flex;
            margin-left: 30px;
        }
}

@import 'home.scss';
@import 'navbar.scss';
@import 'library.scss';
@import 'insert_book.scss';
@import 'review.scss';
@import 'user.scss';
@import 'register.scss'