.leave-review-container {
    height: 350px;
    width: 100%;
    padding-top: 25px;
    background-color: #FFF191;
    font-family: 'Raleway', sans-serif;
    
    h1 {
        text-align: left;
        letter-spacing: 2px;
        font-size: 28px;
    }
    .title-row {
        margin-top: 50px;

        h1 {
            position: absolute;
            left: 0;
            letter-spacing: 5px;
            background-color: white;
            padding: 5px;
            
        }
        .search-bar {
            margin-top: 100px;

            label {
                font-size: 21px;
                color: white;
                text-align: center;
                display: block;
                letter-spacing: 6px;
            }

            input,
            button {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5px;
            }
            input {
                border: none;
                background-color: white;
                width: 85%;
            }
            button {
                border: none;
                background-color: #53be69;
                color: white;

            }
        }
    }
    
    .insert-book-form {
        margin-top: 75px;
        padding: 15px;
        
        label {
            font-size: 32px;
            letter-spacing: 1px;
            background: white;
            padding: 10px;
            text-align: center;
            width: 100%;
                    
            span{
                color: grey;
                background: white;
                padding: 5px;
                font-size: 21.5px;
                
                i {
                    color: #b7e4ef;
                }
            }
        }
        textarea {
            width: 100%;
            border: solid 4px #fff191;
            height: 300px;
        }
        button {
            border: none;
            padding: 10px;
            margin: auto;
            display: block;
            background-color: #B7E4EF;
            color: white;
        }
        textarea:focus {
            border: solid 2px #B7E4EF;
        }
    }
}

.leave-review-container + footer {
    position: fixed;
    bottom: 0;
    
    width: 100%;
    

}