.user-profile-container {
    margin: 100px 0 0 0;
    font-family: 'Raleway';
    min-height: 550px;

    .username-greetins {
        h1 {
            font-size: 30px;
        }
    }
    .user-details {
        margin: 50px auto 0 auto;
        #fav_genre_span,
        select {
            font-size: 14px;
        }
        select {
            border: none;
            color: #166fc9;
        }
        #update_profile_btn {
            background-color: #166fc9;
            border-radius: 0;
            border: none;
            color: white;
        }
    }


}
