.user-profile-container {
    margin: 100px 0 0 0;
    font-family: 'Raleway';
    
    h1 {
        font-size: 30px;
    }
    
    #fav_genre_span, select {
        font-size: 14px;
    }
    
    select {
        border: none;
        color: #166fc9;
    }
    
    #update_profile_btn {
        background-color: #166fc9;
        border-radius: 0;
        border: none;
        color: white;
    }
}
